<nav 
    class="flex flex-row justify-between px-40 py-1 items-center h-fit border-b top-0 fixed w-screen bg-white"
>
    <div class="flex flex-row gap-1 items-center max-[800px]:hidden hover:cursor-pointer">
        <img src="assets/images/logo.png" class="h-8 w-8"/>
        <p class="text-xl">Quizzes</p>
    </div>
    <div class="flex flex-row gap-3">
        <a class="hover:bg-slate-100 p-1 rounded" href="/">Home</a>    
        <a class="hover:bg-slate-100 p-1 rounded" href="#">Quizzes</a>    
        <a class="hover:bg-slate-100 p-1 rounded" href="#">Management</a>    
        <a class="hover:bg-slate-100 p-1 rounded" href="/about">About</a>    
        <a class="hover:bg-slate-100 p-1 rounded" href="#">Contact</a>    
    </div>
    <img src="assets/images/avatar-5.png" 
        class="hover:cursor-pointer rounded-full h-8 w-8 min-h-8 min-w-8 border max-[800px]:hidden"
    />
</nav>

