<div class="h-20 border-t bottom-0 px-40">
    <div class="flex flex-row justify-between flex-wrap py-3">
        <div class="flex flex-col w-2/5">
            <div class="flex flex-row gap-1 items-center max-[500px]:hidden">
                <img src="assets/images/logo.png" class="h-8 w-8 min-w-8 min-h-8"/>
                <p class="text-xl">Quizzes</p>
            </div>
            <span class="text-wrap">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia iusto provident explicabo repudiandae? Fuga quae qui laboriosam.
            </span>
        </div>
        <div class="flex flex-col">
            <h3 class="font-semibold text-xl">Menu</h3>
            <a class="text-blue-500 text-sm" href="#">Home</a>
            <a class="text-blue-500 text-sm" href="#">Quizzes</a>
            <a class="text-blue-500 text-sm" href="#">About</a>
            <a class="text-blue-500 text-sm" href="#">Contact</a>
        </div>
        <div class="flex flex-col">
            <h3 class="font-semibold text-xl">Contact</h3>
            <a class="text-blue-500 text-sm flex flex-row gap-1" href="#">
                <img src="assets/images/logo.png" class="w-5 h-5"/>
                congdinh2021&#64;gmail.com
            </a>
            <a class="text-blue-500 text-sm flex flex-row gap-1" href="#">
                <img src="assets/images/logo.png" class="w-5 h-5"/>
                +84 944 551 356
            </a>
            <a class="text-blue-500 text-sm flex flex-row gap-1" href="#">
                <img src="assets/images/logo.png" class="w-5 h-5"/>
                123 Xuan Dinh, Bac Tu Liem, Ha Noi, Viet Nam
            </a>
        </div>
    </div>
   
    <div class="flex flex-row justify-center gap-1 items-center p-3 border-t">
        <img src="assets/images/logo.png" class="w-5 h-5 min-w-5 min-h-5"/>
        <span>May 2024 - Angular 18</span>
    </div>
</div>

