<div class="hero-section">
    <div class="hero-section-text">
        <h1 class="hero-section-text-header">Welcome to Quiz App</h1>
        <p class="hero-section-text-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere nihil, cumque necessitatibus recusandae, laboriosam facilis velit perferendis deleniti expedita non, iure eos! Dicta perspiciatis ipsa modi ratione laboriosam quas magnam.</p>
        <div class="btn take-quiz-btn">Take a Quiz</div>
    </div>

    <div class="hero-section-image">
        <img class="hero-section-image image-src" src="assets/images/quiz-bg-01.jpeg" alt="image">
    </div>
</div>

<div class="quizzes-section">
    <div class="quizzes-section-text">
        <h1>Quizzes</h1>
    </div>
    <div class="quiz-cards">
        <app-quiz-card/>
        <app-quiz-card/>
        <app-quiz-card/>
    </div>
</div>
